<div class="container">
  <div class="subcontainer">
    <p>Inter</p>
    <fa-icon
      id="plus"
      class="icon"
      [icon]="faAngleRight"
      (click)="sendAnswer(true)"
    ></fa-icon>
    <fa-icon
      id="plus"
      class="icon"
      [icon]="faAngleLeft"
      (click)="sendAnswer(true)"
    ></fa-icon>
  </div>
  <div class="subcontainer">
    <p>ou</p>
  </div>
  <div class="subcontainer">
    <p>Exter</p>
    <fa-icon
      id="minus"
      class="icon"
      [icon]="faAngleLeft"
      (click)="sendAnswer(false)"
    ></fa-icon>
    <fa-icon
      id="minus"
      class="icon"
      [icon]="faAngleRight"
      (click)="sendAnswer(false)"
    ></fa-icon>
  </div>
</div>
