<div class="container">
  <div class="subcontainer">
    <p>Carreau</p>
    <img class="icon" src="../../assets/diamond.png" (click)="sendAnswer(1)" />
  </div>
  <div class="subcontainer">
    <p>ou</p>
  </div>
  <div class="subcontainer">
    <p>Coeur</p>
    <img class="icon" src="../../assets/heart.png" (click)="sendAnswer(2)" />
  </div>
  <div class="subcontainer">
    <p>ou</p>
  </div>
  <div class="subcontainer">
    <p>Pique</p>
    <img class="icon" src="../../assets/poker.png" (click)="sendAnswer(3)" />
  </div>
  <div class="subcontainer">
    <p>ou</p>
  </div>
  <div class="subcontainer">
    <p>Trefle</p>
    <img class="icon" src="../../assets/clubs.png" (click)="sendAnswer(4)" />
  </div>
</div>
