<div class="main">
  <div *ngIf="gameStarted" class="gameInfo">
    <h1>
      {{ title }}
    </h1>
    <h2 *ngIf="roundNb">
      {{
        cpt <= players.length
          ? "A toi de jouer " + players[cpt - 1].name
          : "Premier tour terminé !"
      }}
    </h2>
  </div>

  <app-first-round
    *ngIf="roundNb === 1"
    (selectedColor)="solveFirstRound($event)"
  ></app-first-round>

  <app-second-round
    *ngIf="roundNb === 2"
    (selectedValue)="solveSecondRound($event)"
  ></app-second-round>

  <app-third-round
    *ngIf="roundNb === 3"
    (selectedValue)="solveThirdRound($event)"
  ></app-third-round>

  <app-fourth-round
    *ngIf="roundNb === 4"
    (selectedSuit)="solveFourthRound($event)"
  ></app-fourth-round>

  <div class="countdownContainer">
    <countdown
      [ngClass]="showCountdown ? 'countdownShown' : 'countdownHide'"
      #cd
      [config]="{
        leftTime: 10,
        formatDate: 'ss',
        demand: 'true'
      }"
      (finished)="onCountdownOver()"
      >$!s!</countdown
    >
    <p *ngIf="showCountdown">secondes</p>
  </div>

  <div *ngIf="pyramide && !showCountdown">
    <div class="floor">
      <img
        [src]="
          pyramideCards[14].shown
            ? '../../assets/' + deck[14].rank + '_' + deck[14].suit + '.gif'
            : '../../assets/verso.gif'
        "
        (click)="returnCard(deck[14])"
      />
    </div>
    <div class="floor">
      <img
        *ngFor="let card of pyramideCards | slice: 12:14"
        [src]="
          card.shown
            ? '../../assets/' + card.rank + '_' + card.suit + '.gif'
            : '../../assets/verso.gif'
        "
        (click)="returnCard(card)"
      />
    </div>
    <div class="floor">
      <img
        *ngFor="let card of pyramideCards | slice: 9:12"
        [src]="
          card.shown
            ? '../../assets/' + card.rank + '_' + card.suit + '.gif'
            : '../../assets/verso.gif'
        "
        (click)="returnCard(card)"
      />
    </div>
    <div class="floor">
      <img
        *ngFor="let card of pyramideCards | slice: 5:9"
        [src]="
          card.shown
            ? '../../assets/' + card.rank + '_' + card.suit + '.gif'
            : '../../assets/verso.gif'
        "
        (click)="returnCard(card)"
      />
    </div>
    <div class="floor">
      <img
        *ngFor="let card of pyramideCards | slice: 0:5"
        [src]="
          card.shown
            ? '../../assets/' + card.rank + '_' + card.suit + '.gif'
            : '../../assets/verso.gif'
        "
        (click)="returnCard(card)"
      />
    </div>
  </div>

  <app-dialog
    *ngIf="dialog"
    [player]="currentPlayer"
    [isCorrect]="isCorrect"
    [roundNb]="currentRoundNb"
    [isLast]="isLast"
    (isClosed)="closeModal($event)"
    (isOver)="launchPyramide($event)"
  ></app-dialog>
</div>

<app-menu (gameStarted)="startGame($event)" class="right"></app-menu>
